.image-carousel__list {
  position: relative;
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* height: 500px; */
}

.image-carousel__previous-button,
.image-carousel__next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
}

.image-carousel__previous-button {
  left: 20px;
}

.image-carousel__next-button {
  right: 20px;
}

.image-carousel__list-item {
  width: 100%;
  min-width: 100%;
  white-space: nowrap;
  transition: transform 0.3s;
  display: none;
}

.item-showing {
  display: unset;
}

.image-carousel__list-image {
  width: 100%;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  height: 500px;
}