.navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 15px;
  background: #34eb7d;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo-image {
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

.navbar__logo-title {
  text-transform: uppercase;
}

.navbar__logo-title-link {
  text-decoration: none;
  color: #ffffff;
}

.navbar__searchbar-container {
  display: flex;
  align-items: center;
  width: 300px;
  box-sizing: border-box;
}

.navbar__searchbar {
  height: 30px;
  width: 300px;
}

.navbar__searchbar,
.navbar__searchbar:focus {
  outline: none;
  border: none;
}

.navbar__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.navbar__list-item {
  margin-right: 10px;
}

.navbar__list-item:last-child {
  margin-right: 0;
}

.navbar__list-item-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
}